@model StudentInfoWebApp.DAL.Models.Group

<h1>Ви точно хочете видалити групу?</h1>

<tr>
    <td>@Model.Name</td>
</tr>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <div class="form-group">
                <input type="submit" formmethod="post" value="Так" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="Course" />
            <input type="hidden" asp-for="CourseId" />
            <input type="hidden" asp-for="Students" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>
